* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin:0;
  padding:0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor:pointer;
}

input, textarea {
  border:none;
  outline:none;
}

ul {
  list-style-type:none;
}

:root {
  --primary: #383838;
  --secondary: #f0833a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
  background: var(--primary);
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
}